$modal-bg: #212e36;
$buy-color: #16b157;
$sell-color: #f05359;
.modal {
    background: $modal-bg;
  }

  .modal > .header {
    width: 90%;
    border-bottom: 1px solid #3c4346;
    font-size: 18px;
    padding: 10px 25px 10px;

  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
  }
 .content_section {
   margin: 10px;
  }
  .block_sec {
    margin: 10px 0px;
  }
  .row-ask{
    color: $buy-color;
  }
  .row-bid{
    color: $sell-color;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 6px;
    top: 5px;
    font-size: 24px;
    color: #ffffff;
    background: none;
    border: none;
  }
  .popup-content {
  margin: auto;
  background: #fff;
  width: 50%;
  padding: 0!important;
  border: none!important;
  }
  h3{
    margin: 0;
    padding: 0;
  }

  .loader{
    margin:20px;
    text-align: center;
  }
