.container {
  border: 1px solid #19232a;
  box-shadow: none!important;
  .book_header{
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    cursor: pointer;
    margin: 0;
    height: 32px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .9rem;
    padding: 0 0 0 5px;
  }
  .book_main{
    display: flex;
    justify-content: space-between;
    text-align: right;
    min-height: 425px;
    .book_bids_asks{
      box-sizing: inherit;
      font-size: 11px;
      cursor: pointer;
      flex: 1 1;
      min-width: 270px;
      .book_header{
        display: flex;
        grid-gap: 2px;
        margin: 0 5px;
        text-transform: uppercase;
       
        justify-content: space-between;
      }
      .book_row{
        display: flex;
      justify-content: space-between;
      margin: 0 5px;
      height: 17px;
      }
    }
    .book_bids {
      .book_header{
        flex-direction: row;
      }
      
    }
    .book_asks {
      .book_header{
        flex-direction: row-reverse;
      }
      .book_row{
        flex-direction: row-reverse;
      }
      
    }
    
    
    .book_placeholder{
      width: 15px;
    min-width: 15px;
    max-width: 15px;
    text-align: center;
    padding: 0px;
    }
  }
}